.card {
  display: inline-block;
  margin: 10px;
  height: 150px;
  width: 150px;
  background-color: grey;
  cursor: pointer;

  &.winning {
    background-color: hotpink;
  }

  &.non-winning {
    background-color: yellow;
  }

  &.removed {
    background-color: lightgrey;
    pointer-events: none;
  }

  &.selected {
    background-color: lightgoldenrodyellow;
  }
}
